.albumInfo-card{
    margin-top: 20px;
    width: 80%;
    /* border: 2px solid white; */
}
.albumInfo-card p{
    margin: 5px auto !important;
}
.albumName-container{
    /* font-size: 20px; */
    width: 100%;
    overflow: hidden;
    font-size: 15px;
    font-weight: 700;
    color: #c3e0d3;
}
.album-info{
    /* font-size: 14px; */
    font-size: 12px;
    font-weight: 500;
    /* color: #C3E0D3; */
    color: #9AA9C2;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    line-clamp: 1;
    -webkit-box-orient: vertical;
    /* border: 2px solid  white; */
}

.album-release{
    /* font-size: 12px; */
    font-size: 10px;
    font-weight: 400;
    /* color: #c3e0d3; */
    color: #9aa9c2;
}
.marquee{
    white-space: nowrap;
    display: inline-block;
    animation: marquee 12s linear  infinite;
    padding-left: 100%;
}
@keyframes marquee{
    0%{
        transform: translateX(0);
    }
    100%{
        transform: translateX(-100%);
    }
}
.btn{
    background: linear-gradient(24deg, #6157FF, #EE49FD);
    text-align: center;
    font-weight: 600;
    color: white;
    border-radius: 20px;
    border: none;
    width: 90%;
    height: 30px;
    cursor: pointer;
    margin-top: 10px;
    margin-left: 15px;
    transition: all;
    transition-duration: 0.2s;
    transition-timing-function: ease-in;
}
.btn:hover{
    scale: 1.1;
}